.Demo-wrapper {
  margin-top: 4.5vh;
  padding: 50px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
}

.Demo-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.Chain-Validity-True {
  width: 100%;
  padding: 10px 40px;
  background-color: #e2fca4;
}

.Chain-Validity-False {
  padding: 10px 40px;
  background-color: #fcaea4;
}

.Chain-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #ededed;
  overflow: scroll;
  width: 1000px;
  height: 75vh;
}

.Block {
  background-color: #f4f9fd;
  height: 400px;
  border-radius: 16px;
  color: #193b4d;
  margin: 20px;
  box-shadow: 5px 10px 10px 0px #c9c9c9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.AddBlock {
  background-color: #ebf3fa;
  min-width: 350px;
  border-radius: 16px;
  color: #193b4d;
  box-shadow: 5px 10px 10px 0px #c9c9c9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0px 20px 20px 0px;
}

button {
  padding: 10px 30px;
  color: #e2fca4;
  background: #193b4d;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

button:hover {
  background: #e2fca4;
  color: #193b4d;
}

.GenesisBlockHeader {
  text-transform: capitalize;
}

.form-group.row {
  margin: 20px 0px;
}

.add-block {
  height: 50px;
}
