.Main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Main-header {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: #e2fca4;
  background-color: #193b4d;
  padding: 10px 20px;
}
